<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mybatis配置信息 -->
	<!-- 
	    plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
	    properties?, settings?, 
	    typeAliases?, typeHandlers?, 
	    objectFactory?,objectWrapperFactory?, 
	    plugins?, 
	    environments?, databaseIdProvider?, mappers?
	-->
	<settings>
		<!-- 开启驼峰命名转换：Table(create_time)->Entity(createTime) -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="cacheEnabled" value="false"/>
		<!-- 日志输出使用log4j2 -->
		<setting name="logImpl" value="LOG4J2"/>
	
		<!-- 使延迟加载生效,必须配置下面两个属性 lazyLoadingEnabled 和 aggressiveLazyLoading -->
		<!-- 全局性设置懒加载，默认ture -->
		<!-- <setting name="lazyLoadingEnabled" value="true"/>
		当设置为false时，每个属性才会按需加载，否则懒加载的对象可能被任何懒属性全部加载 ，默认为true
		<setting name="aggressiveLazyLoading" value="false"/>
		配置使全局的映射器启用或禁用缓存，默认ture
		<setting name="cacheEnabled" value="true"/>
		是否允许单条语句返回多个数据集(取决于驱动需求),默认为true
		<setting name="multipleResultSetsEnabled" value="true"/>
		是否使用列别名代替列名称,默认为true
		<setting name="useColumnLabel" value="true"/>
		是否允许JDBC生成主键,获取数据库自增主键值,默认为false
		<setting name="useGeneratedKeys" value="true"/>
		
		指定mybatis是否并且如何来自动映射数据表字段与对象的属性，可选值:PARTIAL:默认值,自动映射简单的,没有嵌套的结果;FULL:自动映射所有复杂的结果;NONE:什么都不做,即不映射;
		<setting name="autoMappingBehavior" value="FULL"/>
		配置执行器,可选值：SIMPLE:默认值，无特别之处;REUSE:可以重复使用预处理(Prepared Statemnets)语句;BATCH:可以重复执行语句和批处理语句
		<setting name="defaultExecutorType" value="REUSE"/>
		设置一个时限,以决定让驱动器等待数据库回应的多长时间为超时,格式为正整数
		<setting name="defaultStatementTimeout" value="5000"/>
		日志前缀
		<setting name="logPrefix" value="dao."/> -->
	</settings>
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
			javaType="java.lang.Enum" />
	</typeHandlers>
</configuration>
