<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="false"  default-autowire="no">

	<description>Spring定时任务支持(spring task适合简单任务 quartz适合复杂任务调度)
	</description>

	<!-- 基于Spring Schedule XML配置的定时任务列表，适合定义在每台服务器节点执行并且无需日志记录、无需管理界面干预等功能支持的任务 -->
	<!-- <task:scheduled-tasks scheduler="springScheduler"> 固定间隔触发任务，单位毫秒 <task:scheduled 
		ref="systemSechduleService" method="statOnlineUserCount" fixed-rate="300000" 
		/> </task:scheduled-tasks> -->

	<bean id="quartzScheduler" lazy-init="false"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="configLocation" value="classpath:config.properties" />
		<!-- bean加载后立即启动任务 -->
		<property name="autoStartup" value="true" />
		<!-- 启动时延期N秒开始任务 -->
		<property name="startupDelay" value="60" />
		<property name="dataSource" ref="druidDataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<!-- Job接受applicationContext的成员变量名 -->
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<!-- 用数据库最新配置覆盖已有配置 -->
		<property name="overwriteExistingJobs" value="true" />
		<property name="schedulerContextAsMap">
			<map>
				<entry key="list">
					<list>

					</list>
				</entry>
			</map>
		</property>
		<!-- 相关设置 （这部分可以放到config.properties文件中） -->
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>
				<prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.StdJDBCDelegate</prop>
				<prop key="org.quartz.jobStore.useProperties">true</prop>
				<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
				<prop key="org.quartz.jobStore.isClustered">false</prop>
			</props>
		</property>

		<property name="jobDetails">
			<list>

			</list>
		</property>

		<property name="triggers">
			<list>

			</list>
		</property>
	</bean>



</beans>
